{% extends "admin/layout.html.twig" %}

{% block header %}
        <h2 class="panel-title">Admin</h2>
        <h2 class="panel-title label label-danger">ROLE_ADMIN</h2>
{% endblock header %}

{% block content %}

        admin<br />
        vyžaduje <span class="label label-danger">ROLE_ADMIN</span>

{% endblock content %}