{% extends "admin/layout.html.twig" %}

{% block header 'Admin' %}

{% block content %}

        admin<br />
        vyžaduje <span class="label label-danger">ROLE_ADMIN</span>

{% endblock content %}