{% extends "layout.html.twig" %}

{% block title parent() ~ ' - ' ~ 'nav.home' | trans %}

{% block header %}
    <h2 class="panel-title">{{ 'nav.home' | trans }}</h2>
{% endblock header %}

{% block content %}

    <div style="margin-left: 10px; margin-right: 10px;">
    {% autoescape false %}
    {% markdown %}
{{ readme }}
    {% endmarkdown %}
    {% endautoescape %}
    </div>


{% endblock content %}