{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="{{ block('title') | trim }}" />
    <meta property="og:description" content="{{ block( 'meta_description' ) | trim }}" />
    <meta property="og:image" content="{{ meta_image | default( 'http://' ~ global.request.host ~ '/img/facebook.png' ) }}" />
    <meta property="og:image:secure_url" content="{{ meta_image | default( 'https://' ~ global.request.host ~ '/img/facebook.png' ) }}" />
{% endblock meta %}

{% block body %}

<div class="grid-container">
    <div class="grid-100 grid-parent" id="page-container">

        <nav class="grid-100 grid-parent" id="page-navigation">
            {% block navigation %}
                {% include 'navigation.html.twig' %}
            {% endblock navigation %}
        </nav>

        {% block page %}
        <div class="panel panel-info grid-100 grid-parent">
            <header class="panel-heading" id="page-header">
            {% block header %}
                <h2 class="panel-title">Header</h2>
                <h2 class="panel-title label label-success">IS_AUTHENTICATED_ANONYMOUSLY</h2>
            {% endblock header %}
                <div class="clearfix"></div>
            </header>

            <article class="panel-body grid-100 grid-parent" id="page-content">
                {% block content '' %}
            </article>

            <footer class="panel-footer" id="page-footer">
            {% block footer %}
                &copy; yo mama {{ 'now' | date( 'Y' ) }}
            {% endblock footer %}
            </footer>
        </div>
        {% endblock page %}
        <div class="clear"></div>

        {#<div>#}
            {#{{ app.locale }} - {{ app.session.get( '_locale' , '-' ) }}#}
        {#</div>#}

        <div class="grid-50 tablet-grid-50 mobile-grid-50">
            {% for loc in [ 'cs' , 'en' ] %}
                {#<a href="{{ url( 'index' , { '_locale' : loc } ) }}" style="{{ locale == loc ? 'font-weight: bold;' }}">{{ loc }}</a>#}
                <a href="{{ url( 'index' , { '_locale' : loc } ) }}" style="{{ global.request.locale == loc ? 'font-weight: bold;' }}">{{ loc }}</a>
                {% if loop.last != true %}
                    |
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-50 tablet-grid-50 mobile-grid-50">
        <form method="GET" action="{{ url( 'index' ) }}" style="text-align: right; color: black;">
            theme
            <select id="change-layout-theme" name="theme">
            </select>
            <a href="http://bootswatch.com/" target="_blank">src</a>
        </form>
        </div>

        <script>
            var switcher    =   new ThemeSwitcher( '#change-layout-theme' , '#layout-theme' );

            {% if global.session.has( 'theme' )  %}
                $( '#change-layout-theme' ).val( '{{ global.session.get( 'theme' ) }}' );
            {% endif %}
        </script>

    </div>
    <div class="clear"></div>

</div>

{% endblock body %}

{% block head %}        
    {{ block( 'javascripts' ) }}   
            
    {{ block( 'adapt_config' ) }}
        
    {{ block( 'stylesheets' ) }}    

    {{ block( 'adapt' ) }}    

    {{ block( 'favicon' ) }}

    <title>{% block title 'Silex Users App' %}</title>
{% endblock head %}

{% block javascripts %}
    <script src="{{ asset( 'jquery.js' , 'js' ) }}"></script>
    <script src="{{  asset( 'js/bootstrap.min.js' , 'bs' ) }}"></script>

    <script src="{{ asset( 'theme-switcher.js' , 'js' ) }}"></script>
{% endblock javascripts %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset( 'master.css' , 'css' ) }}" />
    <link rel="stylesheet" href="{{ asset( 'unsemantic-grid-base-no-ie7.css' , 'css' ) }}" />

    {% if global.session.has( 'theme' )  %}
        <link rel="stylesheet" href="{{ asset( 'css/' ~ global.session.get( 'theme' ) ~ '.min.css' , 'bs' ) }}" id="layout-theme" />
    {% else %}
        <link rel="stylesheet" href="{{ asset( 'css/bootstrap.min.css' , 'bs' ) }}" />
        <link rel="stylesheet" href="{{ asset( 'css/bootstrap-theme.min.css' , 'bs' ) }}" />
    {% endif %}

    <noscript>
        <link rel="stylesheet" href="{{ asset( 'mobile.css' , 'css' ) }}" />
    </noscript>       
{% endblock stylesheets %}    
    
{% block adapt %}
    <script src="{{ asset( 'adapt.js' , 'js' ) }}"></script>
{% endblock adapt %}      

{% block adapt_config %}
<script type="text/javascript">
//<![CDATA[   

onScreenResize = function( i , width ) 
{                               
    {% if global.debug %}
        console.log( { 'width' : width , 'index' : i } ); 
    {% endif %}
    
    {% block onScreenResize %}
    {% endblock onScreenResize %}       
}

// Edit to suit your needs.
var ADAPT_CONFIG = {
// Where is your CSS?
//path: 'assets/css/',
path: '{{ asset( '/' , 'css' ) }}' ,

// false = Only run once, when page first loads.
// true = Change on window resize and page tilt.
dynamic: true,

// Optional callback... myCallback(i, width)
callback: function(i,width)
{
//the callback is initially run BEFORE page is loaded, so not all DOM elements do exist yet, therefore we bind it to window:load    
    $(window).load(function(){        
        onScreenResize(i,width);
    });
      
    
    return onScreenResize(i,width);
},

// First range entry is the minimum.
// Last range entry is the maximum.
// Separate ranges by "to" keyword.
range: [
    '0 to 767px = mobile.css',
    '768px to 1024px = tablet.css' ,
    '1024px = desktop.css'
]

};    

//]]>       
</script> 
{% endblock adapt_config %}