<div class="navbar navbar-default grid-100" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url( 'index' ) }}">Silex Users App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
            {{ _self.navLink( 'index' , 'nav.home' ) }}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'nav.public' | trans }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {{ _self.navLink( 'partners' , 'nav.partners' ) }}
                    <li class="divider"></li>
                    {{ _self.navLink( '404' , 'nav.404' ) }}
                    {{ _self.navLink( 'error' , 'nav.error' ) }}
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'nav.secured' | trans }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {{ _self.navLink( 'secured_index' , 'nav.securedAr' ) }}
                    <li class="divider"></li>
                    {{ _self.navLink( 'admin_index' , 'nav.admin' ) }}
                    {{ _self.navLink( 'get_users' , 'nav.userlist' ) }}
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {{- is_granted( 'ROLE_USER' ) ? global.user.username : 'user.user' | trans -}}
                <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                {% if global.user and is_granted( 'ROLE_USER' ) %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li><a href="{{ url( 'index' , { '_switch_user' : '_exit' , 'nonce' : 'now' | date( 'U' ) } ) }}">{{ 'user.stopImprsnt' | trans }}</a></li>
                    {% elseif is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                        <li>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="{{ url( 'index' , { 'nonce' : 'now' | date( 'U' ) } ) }}" method="get" class="navbar-form navbar-right" role="form">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="_switch_user" id="_switch_user" placeholder="{{ 'user.username' | trans }}" class="form-control" style="" />
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm" style="">{{ 'user.impersonate' | trans }}</button>
                                </form>
                            </div>
                        </div>
                        </li>
                    {% endif %}
                    {{ _self.navLink( 'logout' , 'user.logout' ) }}
                {% else %}
                    {{ _self.navLink( 'login' , 'user.login' ) }}
                    {{ _self.navLink( 'get_register_user' , 'user.register' ) }}
                {% endif %}

                </ul>
            </li>
        </ul>

        {% if not global.user and 'login' != global.request.get( '_route' ) %}
            <form action="{{ url('login_check') }}" method="post" class="navbar-form navbar-right hide-on-tablet" role="form">

                <div class="form-group">
                    <input type="text" name="_username" id="_username" placeholder="{{ 'user.username' | trans }}" class="form-control" />
                    <input type="password" name="_password" id="_password" placeholder="{{ 'user.password' | trans }}" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">{{ 'user.login' | trans }}</button>
            </form>
        {% endif %}




    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</div>

{% macro navLink( route , title ) %}
    {% if global.request.get( "_route" ) == route %}
        {% set active = true %}
    {% else %}
        {% set active = false %}
    {% endif %}
    <li{{ active ? ' class="active"' }}><a href="{{ url( route ) }}">{{ title | trans }}{{ active ? ' <span class="sr-only">(current)</span>' }}</a></li>
{% endmacro %}