{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Secured area
{% endblock title %}

{% block header 'Secured' %}

{% block content %}

    zabezpečená oblast<br />
    vyžaduje <span class="label label-warning">ROLE_USER</span> <br />
    není dostupná anonymům

{% endblock content %}