{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Page not found' | trans }} {{ error.statusCode | default('') }}
{% endblock title %}

{% block page %}

    <div class="panel panel-danger grid-100 grid-parent">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'Page not found' | trans }} {{ error.statusCode | default('') }}</h2>
        </div>

        <div class="panel-body">
                Page {{ global.request.uri }} was not found {{ error.statusCode | default('') }} {{ error.message | default('') }}
        </div>

        <footer class="panel-footer" id="page-footer">
            {{ block( 'footer' ) }}
        </footer>
    </div>


{% endblock page %}