{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Edit user
{% endblock title %}

{% block content %}

    <table>
    </table>

    {{ form( form , { 'method' : 'PUT' , 'action' : url( 'put_user' , { 'user' : user.id } ) } ) }}

{% endblock content %}