{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Registration complete
{% endblock title %}

{% block content %}
    <h2>Registration complete</h2>

    Uživatel "{{ user.username }}" ( {{ user.email }} ) byl zaregistrován.

{% endblock content %}